<div class="container__card">
  <div class="card">
    <!-- Image -->
    <div class="container__image">
      <div class="container__eyes">
        <div class="eyes"></div>
      </div>
      <img class="image " src="./../assets/images/image-equilibrium.jpg">
    </div>
    <div class="container__item">
      <span class="title">Equilibrium #3429</span>
      <span class="description">Our Equilibrium collection promotes balance and calm.</span>
      <div class="priceAndDays">
        <div class="container__detail">
          <img class="margin" src="./../assets/images/icon-ethereum.svg">
          <span class="price__label">0.041 ETH</span>
        </div>

        <div class="container__detail">
          <img class="margin" src="./../assets/images/icon-clock.svg">
          <span class="days__label">3 days left</span>
        </div>
      </div>
      <hr>

      <!-- Avatar -->
      <div class="container__avatar">
        <img class="avatar" src="./../assets/images/image-avatar.png">
        <span class="label__avatar">Creation of
          <span class="name__of__creation">Jules Wyvern</span>
        </span>
      </div>

    </div>
  </div>
</div>
